<!DOCTYPE html>

<html>

<head>
    <title>Nounou.esc.com</title>
    <link rel="stylesheet" type="text/css" href="../css/master.css">
    
</head>

<body>
    <main>
        <header>
            <div class="TextCadre">
                    <a href="/" ><h1>Nounou.esc.com</h1>
                <h3>La branche bambin de <a href="https://www.google.com/search?sxsrf=ACYBGNSaEOIw1q75tWAyjhQrV7Yjfeb5Lw%3A1577046925966&source=hp&ei=jdP_XdGqOMecjLsP1ry28As&q=Esc+pour+escorte&oq=Esc+pour+escorte&gs_l=psy-ab.3...306.3338..3762...1.0..0.197.1457.9j6......0....1..gws-wiz.......0j0i203j0i22i10i30j0i22i30j33i160j33i21.DcZ6H6RBsMw&ved=0ahUKEwiRpcHOjcrmAhVHDmMBHVaeDb4Q4dUDCAY&uact=5" style="text-decoration: underline;">esc.com</a></h3></a>
            </div>
            <div class="CircleForPic">
                <img src="https://image.flaticon.com/icons/svg/1876/1876832.svg" alt="Babysitter logo">
            </div>
        </header>
        <div class="BottomLine"></div>
        <section>
            <h4>Liste des bambins</h4>
            
            {% if bambins is not empty %}
                <table>
                    <thead>
                        <tr>
                        <th>Nom</th>
                        {# <th>Nom</th> #}
                        <th>Age</th>
                        <th class="RightInvisibleTh"></th>
                        {# <th>Voir le profil</th> #}
                        </tr>
                    </thead>
                    <tbody>
                    {% for bambin in bambins %}
                        <tr>
                            {# <td class="LeftThOrTd">{{ bambin.bambinPrenom }}</td> #}
                            {# <td>{{ bambin.bambinNom | upper }}</td> #}
                            <td> {{ bambin.bambinPrenom }} {{ bambin.bambinNom | upper }} </td>
                            <td>{{ bambin.bambinDateNaiss | date('Y-m-d') }}</td>
                            <td  class="RightLink"><a href="voir-bambin/{{ bambin.id }}">Voir le profil</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Aucune bambin trouvée.</p>
            {% endif %}

        </section>
        <div class="BottomLine"></div>
    </main>
</body>

</html>