<!DOCTYPE html>

<html>

<head>
    <title>nounou.esc.com</title>
    <link rel="stylesheet" type="text/css" href="../css/master.css">
    
</head>

<body>
    <main>
        <header>
            <div class="TextCadre">
                <a href="/" ><h1>Nounou.esc.com</h1>
                <h3>La branche client de esc.com</h3></a>
            </div>
            <div class="CircleForPic">
                <img src="https://image.flaticon.com/icons/svg/1876/1876832.svg" alt="Babysitter logo">
            </div>
        </header>
        <div class="BottomLine"></div>
        <section>

            {% if Erreur is defined %}
            <h1 class="Erreur"> Erreur : {{ Erreur }} </h1>
            {% else %}

            <h4>Compte client</h4>
            
            {{ form_start(form) }}

                <table>
                <tbody>
                    <tr>
                    <th>Mail:</th>
                    <td>{{ form_widget(form.clientMail) }}</td>
                    </tr>
                    <tr>
                    <th>Mot de passe:</th>
                    <td>{{ form_widget(form.clientMdp) }}</td>
                    </tr>
                    <tr>
                    <th>Nom:</th>
                    <td>{{ form_widget(form.clientNom) }}</td>
                    </tr>
                    <tr>
                    <th>Prenom:</th>
                    <td>{{ form_widget(form.clientPrenom) }}</td>
                    </tr>
                    <tr>
                    <th>Sexe:</th>
                    <td>
                    {{ form_widget(form.clientSexe) }}
                    </td>
                    </tr>
                    <tr>
                    <th>Telephone :</th>
                    <td>{{ form_widget(form.clientTel) }}</td>
                    </tr>
                    <tr>
                    <th>Compte vérifié :</th>
                    <td>{{ form_widget(form.clientCompteVerif) }}</td>
                    </tr>
                    <tr>
                    <th></th>
                    <td>
                        {{ form_widget(form.save) }} 
                        {% if app.request.pathinfo | slice(1, 5) == 'modif' %} 
                            <a href={{ ("/suppr-client/" ~ id) | trans }} class="Button">Supprimer</a>
                        {% endif %}
                    </td>
                    </tr>

                </tbody>
                </table>

            {{ form_end(form) }} 

            {% endif %}

        </section>
        <div class="BottomLine"></div>
    </main>
</body>

</html>