<!DOCTYPE html>

<html>

<head>
    <title>nounou.esc.com</title>
    <link rel="stylesheet" type="text/css" href="../css/master.css">
    
</head>

<body>
    <main>
        <header>
            <div class="TextCadre">
                <a href="/" ><h1>Nounou.esc.com</h1></a>
                <h3>La branche client de esc.com</h3>
            </div>
            <div class="CircleForPic">
                <img src="https://image.flaticon.com/icons/svg/1876/1876832.svg" alt="Babysitter logo">
            </div>
        </header>
        <div class="BottomLine"></div>
        <section>
            <h4>Liste des clients</h4>
            
            {% if clients is not empty %}
                <table>
                    <thead>
                        <tr>
                        <th class="LeftThOrTd">Photo</th>
                        <th>Nom</th>
                    </thead>
                    <tbody>
                    {% for client in clients %}
                        <tr>
                            {# <td class="LeftThOrTd">{{ client.clientPrenom }}</td> #}
                            {# <td>{{ client.clientNom | upper }}</td> #}
                            <td class="LeftThOrTd">
                                {% if client.clientPhoto != '' %}
                                <div class="CircleForPic" id="AvatarCircle">
                                        <img src={{ client.clientPhoto }} alt="{{ 'Avatar de ' ~ client.clientPrenom ~ ' ' ~ client.clientNom | upper }}">
                                </div>
                                {% else %}
                                <div class="CircleForPic ReversePic" id="AvatarCircle">
                                        <img src="https://image.flaticon.com/icons/svg/1876/1876832.svg" alt="Babysitter logo">
                                </div>
                                {% endif %}
                            </td>
                            <td> {{ client.clientPrenom }} {{ client.clientNom | upper }} </td>
                            <td  class="RightLink"><a href="voir-client/{{ client.id }}">Voir le profil</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Aucune client trouvée.</p>
            {% endif %}

        </section>
        <div class="BottomLine"></div>
    </main>
</body>

</html>