<!DOCTYPE html>

<html>

<head>
    <title>nounou.esc.com</title>
    <link rel="stylesheet" type="text/css" href="../css/master.css">
</head>

<body>
    <main>
        <header>
            <div class="TextCadre">
                <a href="/" ><h1>Nounou.esc.com</h1>
                <h3>La branche client de <a href="https://www.google.com/search?sxsrf=ACYBGNSaEOIw1q75tWAyjhQrV7Yjfeb5Lw%3A1577046925966&source=hp&ei=jdP_XdGqOMecjLsP1ry28As&q=Esc+pour+escorte&oq=Esc+pour+escorte&gs_l=psy-ab.3...306.3338..3762...1.0..0.197.1457.9j6......0....1..gws-wiz.......0j0i203j0i22i10i30j0i22i30j33i160j33i21.DcZ6H6RBsMw&ved=0ahUKEwiRpcHOjcrmAhVHDmMBHVaeDb4Q4dUDCAY&uact=5" style="text-decoration: underline;">esc.com</a></h3></a>
            </div>
            <div class="CircleForPic">
                <img src="https://image.flaticon.com/icons/svg/1876/1876832.svg" alt="Babysitter logo">
            </div>
        </header>
        <div class="BottomLine"></div>
        <section>
            {% if Erreur is defined %}
            <h1 class="Erreur"> Erreur : {{ Erreur }} </h1>
            {% else %}
            <div id="ProfilHeader">
                <h4>{{ client.clientNom | upper }}  {{ client.clientPrenom }}</h4>
            </div>
            <div class="ProfilContainer">
                <div id="ColumnLeft">
                    <div id="TopDesc">
                        <p>[Liste des bambins]</p>
                    </div>
                </div>
                <div id="ColumnRight">
                    <div id="Contact">
                        <h4>
                        Sexe :
                        </h4>
                        <p>
                        {% if client.clientSexe == 1 %}
                        Homme
                        {% elseif client.clientSexe == 2 %}
                        Femme
                        {% elseif client.clientSexe == 3 %}
                        Licorne
                        {% elseif client.clientSexe == 4 %}
                        Moi
                        {% elseif client.clientSexe == 5 %}
                        Personne
                        {% elseif client.clientSexe == 6 %}
                        Framework
                        {% elseif client.clientSexe == 7 %}
                        Sexe inexistant dans cet univers tridimensionnel
                        {% elseif client.clientSexe == 8 %}
                        Non Binaire
                        {% elseif client.clientSexe == 0 %}
                        Autre
                        {% else %}
                        Etre vivant
                        {% endif %}
                        </p>
                        <h4>
                            Telephone :
                        </h4>
                        <p>
                            {{ client.clientTel }}
                        </p>
                        <h4>
                            Adresse mail :
                        </h4>
                        <p>
                            {{ client.clientMail }}
                        </p>
                    </div>
                    <p>
                        <a href="/montrer-nounous">Voir la liste des nounous</a>
                    </p>
                    {% if IsLogin %}
                        <p>
                            <a href={{ ("/modif-client/" ~ client.id) | trans }}>Modifier le compte</a>
                        </p>
                        <p>
                            <a href={{("/creer-bambin/" ~ client.id) | trans }}>Ajouter un Bambin</a>
                        </p>
                        <p>
                            <a href={{"/montrer-bambins"}}>Voir la liste des bambins</a>
                        </p>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </section>
        <div class="BottomLine"></div>
    </main>
</body>

</html>