 <!DOCTYPE html>

<html>

<head>
    <title>nounou.esc.com</title>

    <style>
        html {
            padding: 0;
            margin: 0;
        }
    
        body {
            font-family: Arial, Helvetica, sans-serif;
            padding: 0;
            margin: 0;
            background-image: url(https://previews.123rf.com/images/nsit0108/nsit01081811/nsit0108181104361/127729634-heart-candy-box-pattern-seamless-repeat-background-for-any-web-design.jpg);
            background-size: 500px auto;
            background-repeat: repeat;
            background-attachment: fixed;
        }
    
        a {
            color: black;
        }
    
        main {
            width: 50vw;
            margin-left: 25vw;
            margin-top: 0;
            margin-bottom: 2vh;
            background-color: #F3AED9;
            padding: 0;
        }
    
        header {
            padding: 1.2em 1em;
            background-color: rgba(255, 255, 255, 0.5);
            display: flex;
            justify-content: space-between;
        }
    
        header .TextCadre {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    
        h1 {
            margin: 0;
        }
    
        h3 {
            margin: 0;
        }
    
        .CircleForPic {
            height: 10vh;
            width: 10vh;
            border-radius: 50%;
            overflow: hidden;
            background-color: rgba(255, 255, 255, 0.9);
    
        }
    
        header img {
            height: 10vh;
            width: auto;
        }
    
        .BottomLine {
            background-color: rgba(0, 0, 0, 0.1);
            height: 5px;
        }
    
        section {
            margin: 1em;
            padding: 0.7vh 0 1.7vh 0;
        }
    
        section h4 {
            font-size: 1.3em;
            margin-bottom: 1em;
        }
    
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 5vw;
        }
    
        form .TextArea {
            border: none;
            border-bottom: black solid 1px;
            color: black;
            background-color: rgba(0, 0, 0, 0);
            margin: 0.7em;
            font-size: 1em;
            padding-left: 1em;
            padding-bottom: 0.2em;
        }
    
        form .Button {
            background-color: rgba(0, 0, 0, 0);
            border: none;
            text-align: right;
            padding-right: 1em;
            color: black;
            font-size: 1.05em;
        }
    
        form .Button:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
    
        input:focus {
            outline: none;
        }
    
        ::placeholder {
            color: black;
            opacity: 1;
        }

        th, td {
            border: 1px black solid;
            margin: 0;
            padding: 10px;
        }

        th {
            text-align: left;
        }

    </style>
    
</head>

<body>
    <main>
        <header>
            <div class="TextCadre">
                <h1>Nounou.esc.com</h1>
                <h3>La branche nounou de esc.com</h3>
            </div>
            <div class="CircleForPic">
                <img src="https://image.flaticon.com/icons/svg/1876/1876832.svg" alt="Babysitter logo">
            </div>
        </header>
        <div class="BottomLine"></div>
        <section>
            <h4>Modifer son compte nounou</h4>
            
            {{ form_start(form) }}

                <table>
                <tbody>
                    <tr>
                    <th>Nom:</th>
                    <td>{{ form_widget(form.nounouNom) }}</td>
                    </tr>
                    <tr>
                    <th>Prenom:</th>
                    <td>{{ form_widget(form.nounouPrenom) }}</td>
                    </tr>
                    <tr>
                    <th>Sexe:</th>
                    <td>{{ form_widget(form.nounouSexe) }}</td>
                    </tr>
                    <tr>
                    <th>Mail:</th>
                    <td>{{ form_widget(form.nounouMail) }}</td>
                    </tr>
                    <tr>
                    <th>Date de naissance:</th>
                    <td>{{ form_widget(form.nounouDateNaiss) }}</td>
                    </tr>
                    <tr>
                    <th>Tarif:</th>
                    <td>{{ form_widget(form.nounouTarif) }}</td>
                    </tr>
                    <tr>
                    <th>Desc:</th>
                    <td>{{ form_widget(form.nounouDesc) }}</td>
                    </tr>
                    <tr>
                    <th>Adresse:</th>
                    <td>{{ form_widget(form.nounouAdresse) }}</td>
                    </tr>
                    <tr>
                    <th>Telephone pro:</th>
                    <td>{{ form_widget(form.nounouTelPro) }}</td>
                    </tr>
                    <tr>
                    <th>Telephone personnel:</th>
                    <td>{{ form_widget(form.nounouTelPerso) }}</td>
                    </tr>
                    <tr>
                    <th>Date de naissance:</th>
                    <td>{{ form_widget(form.nounouDateNaiss) }}</td>
                    </tr>
                    <tr>
                    <th></th>
                    <td>{{ form_widget(form.save) }}</td>
                    </tr>
{# ->add('Nom', TextType::class)
            ->add('Prenom', TextType::class)
            ->add('Sexe', ChoiceType::class)
            ->add('Mail', EmailType::class)
            ->add('DateNaiss', DateType::class)
            ->add('Tarif', TextType::class)
            ->add('Desc', TextareaType::class)
            ->add('Adresse', TextType::class)
            ->add('TelPro', TelType::class)
            ->add('TelPerso', TelType::class) #}

                </tbody>
                </table>

            {{ form_end(form) }} 

        </section>
        <div class="BottomLine"></div>
    </main>
</body>

</html>